@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&display=swap');

.overview-container {
  margin: 2rem;
}

.overview {
  padding: 1.3rem;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-color: #60a5fa;
  background-color: rgba(72, 95, 226, 0.1);
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

.title {
  color: blue;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
}
