@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@500&display=swap');

body {
  background-color: #ebf5f0;
}

/* outline for card that holds planets */
.planets {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  gap: 8px;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-color: #9ca3af;
  border-radius: 20px;
  transition-duration: 300ms;
  transform: scale(1.1);
  padding: 1rem;
  cursor: pointer;
}

.planet-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1em;
}

.planet-detail-container {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 0.5fr));
  margin-top: 3rem;
}

.planet-detail {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.planet-name {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(67, 67, 203);
}

.planet-image {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 666px) {
  .planets {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 667px) and (max-width: 999px) {
  .planets {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
    gap: 8px;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .planets {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.5fr));
  }
}

.go-back {
  padding: 1rem;
  margin: 0.2px;
  background: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: rgb(188, 224, 255);
  border: none;
  position: relative;
  z-index: 1;
  object-fit: cover;
  /* mix-blend-mode: overlay; */
  background-blend-mode: overlay;
  pointer-events: all;
}

.go-back:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 300ms;
  color: rgb(188, 224, 255);
}

.description-label {
  color: rgb(188, 224, 255);
}

.planet-background {
  position: absolute;
  width: 100%;
  height: 75%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

.mini-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat';
  color: blue;
  background-color: rgb(199, 199, 199);
}

.mini-navbar-button {
  padding-left: 2rem;
  color: blue;
}

.mini-navbar-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 400ms;
}

#overview {
  color: rgb(3, 3, 68);
  font-weight: bolder;
  font-size: large;
}

#facts {
  color: rgb(3, 3, 68);
  font-weight: bolder;
  font-size: large;
}

#moons {
  color: rgb(3, 3, 68);
  font-weight: bolder;
  font-size: large;
}

.bottom-container {
  margin-bottom: 10rem;
}

.source {
  text-decoration: none;
}
