/* outline for card that holds planets */
.planets {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  gap: 8px;
  margin-top: 5rem;
}


@media screen and (min-width: 650px) {
  .planets {
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
    gap: 8px;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .planets {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.5fr));
  }
}

.planet-name {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(67, 67, 203);
}

/* Planets creation */
/* Mercury */
#Mercury {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 600px 10px,
    rgb(179, 125, 54),
    rgb(20, 57, 179)
  );
  box-shadow: inset 16px 0 40px 3px rgb(3, 13, 68);
}

.space #Mercury {
  width: 280px;
  height: 280px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  margin-left: 40px;
}

#Mercury .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Mercury:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 9%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 70% 5px,
    rgb(236, 170, 83),
    rgba(255, 255, 255, 0) 20%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Venus */
#Venus {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at center,
    #eb9737 0%,
    #f3660f 47%,
    #eb3b06 100%
  );
  box-shadow: inset 20px 0 16px 3px rgb(80, 2, 2);
}

.space #Venus {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Venus .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Venus:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 60% 10px, rgb(224, 110, 79));
  box-shadow: -80px 15px 80px 10px rgba(216, 54, 5, 0.9) inset;
  filter: blur(5px);
  z-index: 2;
}

/* Earth */
#Earth {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(4, 68, 20),
    rgb(9, 12, 197)
  );
  box-shadow: inset 16px 0 40px 3px rgb(41, 39, 39);
}

.space #Earth {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Earth .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Earth:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgba(64, 117, 31, 0.527),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Earth decorations */
.space .solarSys .earthLine1 {
  width: 1.25em;
  height: 40em;
  position: relative;
}

.space .solarSys .earthLine1:before,
.space .solarSys .earthLine1:after {
  content: '';
  width: 3em;
  height: 5em;
  position: absolute;
  left: 108px;
  top: 90px;
  background: radial-gradient(
    rgb(110, 57, 7, 0.781),
    rgba(255, 255, 255, 0) 88%
  );
  border-radius: 3em 3em 1em 1em;
  transform: rotate(230deg);
  transform-origin: 0 100%;
}

.space .solarSys .earthLine1:after {
  left: 0.6px;
  transform: rotate(-230deg);
  transform-origin: 100% 100%;
}
.space .solarSys .earthLine2 {
  width: 1.25em;
  height: 40em;
  position: absolute;
  left: 25px;
  top: 8px;
}

.space .solarSys .earthLine2:before,
.space .solarSys .earthLine2:after {
  content: '';
  width: 4em;
  height: 6em;
  position: absolute;
  top: 3px;
  left: 80px;
  background: radial-gradient(
    rgb(110, 57, 7, 0.781),
    rgba(255, 255, 255, 0) 88%
  );
  border-radius: 3em 3em 1em 1em;
  transform: rotate(250deg);
  transform-origin: 0 100%;
}

.space .solarSys .earthLine2:after {
  top: 5px;
  left: 140px;
  transform: rotate(-170deg);
  transform-origin: 100% 100%;
}
.space .plsolarSysanet .earthLine3 {
  width: 1.25em;
  height: 40em;
  position: absolute;
  left: 90px;
  top: 4px;
}

.space .solarSys .saturnLine3:before,
.space .solarSys .earthLine3:after {
  content: '';
  width: 3em;
  height: 2em;
  position: absolute;
  left: 90px;
  top: 1px;
  background: radial-gradient(
    rgba(230, 227, 225, 0.123),
    rgba(255, 255, 255, 0) 88%
  );
  border-radius: 3em 3em 1em 1em;
  transform: rotate(160deg);
  transform-origin: 0 100%;
}

.space .solarSys .earthLine3:after {
  top: 40px;
  left: 0px;
  transform: rotate(-280deg);
  transform-origin: 100% 100%;
}
.space .solarSys .earthLine4 {
  width: 1.25em;
  height: 40em;
  position: relative;
  margin-top: 4em;
  margin-left: 2.8em;
}

.space .solarSys .earthLine4:before,
.space .solarSys .earthLine4:after {
  content: '';
  width: 3em;
  height: 5em;
  position: absolute;
  left: 108px;
  top: 90px;
  background: radial-gradient(
    rgb(110, 57, 7, 0.781),
    rgba(255, 255, 255, 0) 88%
  );
  border-radius: 3em 3em 1em 1em;
  transform: rotate(230deg);
  transform-origin: 0 100%;
}

.space .solarSys .earthLine4:after {
  left: 0.6px;
  transform: rotate(-230deg);
  transform-origin: 100% 100%;
}

/* Mars */
#Mars {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    #8f4b44,
    rgb(92, 140, 230)
  );
}

.space #Mars {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Mars .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Mars:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Jupiter */
#Jupiter {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(229, 202, 165),
    rgb(190, 130, 50)
  );
}

.space #Jupiter {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Jupiter .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Jupiter:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Saturn */
#Saturn {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(229, 202, 165),
    rgb(190, 130, 50)
  );
  box-shadow: inset 16px 0 40px 3px rgb(41, 40, 40);
}

.space #Saturn {
  width: 280px;
  height: 280px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
#Saturn .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Saturn:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Saturn decoration */
.card .space .solarSys .saturnLine1 {
  position: absolute;
  left: 100px;
  top: 45px;
  width: 240px;
  height: 45px;
  border-top: transparent;
  border-bottom: 8px solid rgb(231, 229, 223, 0.2);
  rotate: 35deg;
  translate: -25px;
  border-radius: 40% 40%;
  background: transparent;
}

.card .space .solarSys .saturnLine2 {
  position: absolute;
  left: 40px;
  top: 100px;
  width: 275px;
  height: 45px;
  border-top: transparent;
  border-bottom: 8px solid rgba(117, 103, 56, 0.3);
  rotate: 35deg;
  translate: -25px;
  border-radius: 60% 40%;
  background: transparent;
}

.card .space .rings {
  position: absolute;
  top: 5em;
  left: -7em;
  width: 455px;
  height: 100px;
  border: 20px double rgb(100, 58, 10, 0.5);
  border-radius: 50%;
  border-top: 0;
  filter: drop-shadow(10px 16px 5px #ffffff66);
  rotate: 35deg;
  box-shadow: -50px 9px 3px 2px #ffffff66, 50px 9px 3px 2px #ffffff4d,
    -50px 10px 10px -1px #d4a05b80, 50px 10px 10px -1px #dfb97380,
    -20px 10px 2px -5px #57340c, 20px 10px 2px -5px #ffffff;
}

/* Uranus */
#Uranus {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(16, 108, 141),
    rgb(14, 59, 85)
  );
}

.space #Uranus {
  width: 280px;
  height: 280px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Uranus .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Uranus:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Neptune */
#Neptune {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(77, 101, 157),
    rgb(14, 12, 10)
  );
}

.space #Neptune {
  width: 280px;
  height: 280px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Neptune .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Neptune:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

/* Pluto */
#Pluto {
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(229, 202, 165),
    rgb(190, 130, 50)
  );
}
.space #Pluto {
  width: 280px;
  height: 280px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

#Pluto .shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-300px);
  -moz-transform: rotateX(90deg) translateZ(-300px);
  -ms-transform: rotateX(90deg) translateZ(-300px);
  -o-transform: rotateX(90deg) translateZ(-300px);
  transform: rotateX(90deg) translateZ(-300px);
  z-index: -1;
}

#Pluto:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 100px,
    rgb(236, 224, 200),
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(5px);
  z-index: 2;
}

#Uranus {
  display: block;
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(16, 108, 141),
    rgb(14, 59, 85)
  );
}
#Neptune {
  display: block;
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(77, 101, 157),
    rgb(14, 12, 10)
  );
}
#Pluto {
  display: block;
  background: black;
  margin: 0;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background: radial-gradient(
    circle at 100px 300px,
    rgb(229, 202, 165),
    rgb(190, 130, 50)
  );
}
